name: Construir y Publicar Imagen Docker
on:
  push:
    branches:
      - main

env:
  NOTIFICATION_EMAIL: diegomelna14@gmail.com

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Log in a Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
        
      - name: Construir la imagen Docker
        run: docker build -t ${{ secrets.DOCKER_USER }}/univ-prueba:latest .

      - name: Publicar la imagen Docker
        run: docker push ${{ secrets.DOCKER_USER }}/univ-prueba:latest

  notify:
    name: Send Notification
    runs-on: ubuntu-latest
    needs: build-and-push
    if: always()
    steps:
      - name: Send Success Email
        if: success()
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 587
          username: ${{ secrets.EMAIL_USERNAME }}
          password: ${{ secrets.EMAIL_PASSWORD }}
          subject: "✅ Despliegue Exitoso"
          to: ${{ env.NOTIFICATION_EMAIL }}
          from: GitHub Actions
          body: |
            ✅ El despliegue se completó exitosamente!
            